<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Viajes</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <% include ../partials/encabezado_privado %>

  <div class="container text-center">
    <h1>Bienvenido! <%=usuario.user_empleado%></h1>

    <div class="row">
      <div class="col-md-12 text-center">
        <% if (mensaje && mensaje.length > 0) { %>
        <h4><span class="icon-info"></span>
          <%=mensaje%>
        </h4>
        <% } %>
      </div>
    </div>
  </div>


  <% include ../partials/pie %>
  <script src="/javascripts/script.js"></script>
</body>

</html>