<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nuevo Tipo de Vehiculo</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <% include ../partials/encabezado_privado %>
  <!-- Se importa el encabezado desde partials-->

  <div class="container text-center">
    <h1>Registro Nuevo Vehiculo</h1>
    <hr>

    <div class="row">
      <div class="col-sm-0 col-lg-3"></div>
      <div class="col-sm-12 col-lg-6 col-lg-6 content-center text-center">

        <div class="row">
          <div class="col-md-12 text-center">
            <% if (mensaje && mensaje.length > 0) { %>
            <h4><span class="icon-info"></span>
              <%=mensaje%>
            </h4>
            <% } %>
          </div>
        </div>

        <form action="/admin/procesar_new_veh" method="POST" encType="multipart/form-data">
          <fieldset>
            <legend>Nuevo Vehiculo</legend>
            <p>
              <label for="new_veh">Nombre</label>
              <br>
              <input type="text" id="new_veh" name="new_veh" required="true" />
            </p>
            <p>
              <input class="primary" type="submit" value="Continuar" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="col-sm-0 col-lg-3"></div>
    </div>

  </div>

  <% include ../partials/pie %>
  <!-- Se importa el pie de página-->
  <script src="/javascripts/script.js"></script>
</body>

</html>