<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iniciar Sesion</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <% include ../partials/encabezado_privado %>

  <div class="container text-center">
    <h1>Tipos de Reportes</h1>
    <p>Elige que reportes quieres generar</p>

    <div class="row">
      <div class="col-sm-0 col-lg-3"></div>
      <div class="col-sm-12 col-lg-6 col-lg-6 content-center text-center">

        <div class="row">
          <div class="col-md-12 text-center">

            <% if (mensaje && mensaje.length > 0) { %>
            <h4><span class="icon-info"></span>
              <%=mensaje%>
            </h4>
            <% } %>
          </div>
        </div>

        <div class="row">
          <!--Solo se crean unos botones que redireccionan a los tipos de reportes-->
          <div class="col-md-12 text-center">
            <a type="button" class="btn btn-outline-primary" href="/admin/reporte1">Reporte 1</a>
            <a type="button" class="btn btn-outline-primary" href="/admin/reporte2">Reporte 2</a>
            <a type="button" class="btn btn-outline-primary" href="/admin/reporte3">Reporte 3</a>

          </div>
        </div>

      </div>
      <div class="col-sm-0 col-lg-3"></div>
    </div>

  </div>

  <% include ../partials/pie %>
  <script src="/javascripts/script.js"></script>
</body>

</html>