<header class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <a href="#" class="logo col-lg-2 w-auto text-center" style="padding-top: 0; padding-bottom: 0;"><img style="width: 50px;"
          src="https://img.icons8.com/fluency/96/000000/parking.png" /></a>
    </div>

    <div class="enlaces-registro col-lg-2 m-auto text-center pb-19px">
      <a class="m-2" href="/registro">Registro</a>
      |
      <a href="/login">Inicio</a>
    </div>
  </div>

</header>
