<header class="container-fluid">
  <div class="row">
    <div class="col-md-3"><a href="" class="logo w-auto">
      <img style="width: 50px;" src="https://img.icons8.com/fluency/96/000000/parking.png" /></a>
      <a href="/admin/index" class="button"><span class="icon-home"></span>Inicio</a>
    </div>
    <div class="col-md-9 text-right">
      <span class="icon-user"></span>
      <%=usuario.user_empleado%> |
      <a type="button" class="btn" href="/admin/registrar_entrada">Registrar Entrada</a>|
      <a type="button" class="btn" href="/admin/registrar_salida">Registrar salida</a>|
      <a type="button" class="btn" href="/admin/nuevo_veh">Agregar Nuevo Tipo de Veh</a>|
      <a type="button" class="btn" href="/admin/reportes">Reportes</a>|
      <a type="button" class="btn" href="/admin/procesar_cerrar_sesion">Cerrar Sesion</a>
    </div>
  </div>

</header>